/*General*/

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

:root{
--indent: 30px;
--items: 3;
}

.section1, .section2, .team, .customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.body{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    width: 1440px;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header {
background: #FFFFFF;
color: #2E2F42;
}

.header-container{
    display: flex;
    align-items: center;
}


.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    
}

.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.web-logo{
    color: #4D5AE5;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-item {
}
.header-ref {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
display: block;
padding-top: 24px;
padding-bottom: 24px;
}

.header-ref:hover, .header-ref:focus{
    color: #404BBF;
}
.header-contacts {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: flex;
align-items: center;
gap: 40px;
}


.contact-list {
    color: #434455; 
}



.address-tel{
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-tel:hover{
    color: #404BBF;
}


.main {
}
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/background/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.hero-text {
   
    margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
padding: 16px 32px;
border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section1 {
}

.section1-icon{
    width: 264px;
height: 112px;
background: #F4F4FD;
border-radius: 4px; 
}

.section1-list {
    display: flex;
    gap: 24px;
}
.section-item {
}

.section-text {
    margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.section-subtitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section2 {
    background-color: white;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
padding-top: 0px;
}


.portfolio-text {
    text-align: center;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
margin-bottom: 72px;
    

}
.prtfolio-img {
    display: flex;
    gap: 24px;
}
.portfolio-list {
}
.portfolio-img {
}
.team {
    background-color: #F4F4FD;
}
.team-text {
    text-align: center;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
    margin-bottom: 72px;
}


.list-team {
    display: flex;
    gap: 24px;
}
.team-item {
    width: 264px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-img {
}

.div-team-text{
    padding: 32px 16px;
    text-align: center;
}
.team-desc {
    margin-bottom: 8px;
}
.team-subtext {
    margin-bottom: 8px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.socials-icon{
    fill: #F4F4FD;
}


.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.socials-link:hover{
    background-color:  #404BBF;
}
.customer-text {
    text-align: center;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.customers-item{
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    
}
.customers-icon{
    fill: #8E8F99;
}
.filters {
    display: flex;
gap: 24px;
margin-bottom: 107px;
justify-content: center
}

.btn-container{
padding: 120px 0px;
}
.filter-items {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #F4F4FD;   
}

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
cursor: pointer;
border: none;
padding: 12px 24px;
}

.filter-btn:hover, .filter-btn:focus{
background-color:  #404BBF;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}


.card-set{
}

.row-general {
color: #2E2F42;
font-weight: 500;
display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}



.row-items {
font-weight: 500;
letter-spacing: 0.02em;
width: 360px;
height: 420px;
}


.row-ref{
    color: #2E2F42;
    --indent: 30px;
    --items: 3;
}



.row-img{
    width: 360px;
}

.row-text-div{
    border: 1px solid #E7E9FC;
border-top: none;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
}

.row-text {
    padding-bottom: 16px;
    padding-left: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}

.row-subtext {
font-weight: 400;
color: #434455;
padding-left: 8px;
}



.footer {
left: 0px;
top: 2280px;
background: #2E2F42;
padding: 100px 0px;
        }

.footer-div{
    width: 264px;
    margin-right: 120px;
}
    
.footer-nav {
}

.footer-ref {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
    
        .web-footer {
            color: #4D5AE5;
            }

        .footer-text {
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;
        }

.footer-container{
    display: flex;
}

.footer-social{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.social-text{
    margin-bottom: 16px;
    color: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-list{
    display: flex;
    gap: 16px;
}

.footer-item{
}

.footer-icon{
    fill: #FFFFFF;
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FFFFFF;
}

